#import codecs


<!doctype html>
<html>
<head>
    <title>$NAME as colors</title>
    <style>
        body {
            text-align: justify;
            background: #000;
        }
        body div {
            border-radius: 3px;
            display: inline-block;
            margin: 2px;
            height: 20px;
        }
    </style>
</head>
<body>
    #py use_widths = $WIDTHS == 'True'
    #py width = 50
    #with open($FILENAME, 'rb') as f:
        #while True:
            #py triplet = codecs.encode(f.read(3), 'hex')
            #if not triplet:
                #break
            #end if
            #if use_widths:
                #py width = ord(f.read(1) or b'\x00') + 20
            #end if
            <div style="background: #${triplet}; width: ${width}px;"></div>
        #end while
    #end with
</body>
</html>
