#import codecs
#import json
#import random
#import struct


#py random.seed(0)


<!doctype html>
<html>
    <head>
        <title>Color Code</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <main>
            $self._render_top_bottom(4)
            <div class="weird-middle">
                $self._render_info_sides()
                <div class="info">
                    <div class="info-wrapper">
                        <h1>color code</h1>
                        <p>
                            This is a digital art program made for yelp's hackathon 19 (theme: "color code"). It encodes any file into colored rectangles by converting every 3 bytes of the file into a color and optionally, the 4th byte into a width.
                        </p>
                        <a href="https://github.com/asottile/color-code" target="_blank">View on GitHub</a>
                        <p>
                            Examples:
                            #py names_fnames = json.loads($NAMES_FNAMES)
                            #for name, fname in names_fnames[:-1]:
                                <a href="out/${fname}_widths.html">$name</a>
                                (<a href="out/${fname}.html">w/o widths</a>) *
                            #end for
                            <a href="out/${names_fnames[-1][1]}_widths.html">$names_fnames[-1][0]</a>
                            (<a href="out/${names_fnames[-1][1]}.html">w/o widths</a>)
                        </p>
                    </div>
                </div>
                $self._render_info_sides()
            </div>
            $self._render_top_bottom(20)
        </main>
    </body>
</html>


#def _rect(minsize, maxsize)
    #py width = random.randint(minsize, maxsize)
    #py color = codecs.encode(struct.pack(b'I', random.getrandbits(24)), 'hex')[:6]
    #py names_fnames = json.loads($NAMES_FNAMES)
    #py rand = random.choice(names_fnames)[1] + random.choice(('_widths', ''))
    <a href="out/${rand}.html" target="_blank" style="flex-basis: ${width}px;">
        <div class="inner-box" style="background: #${color};"></div>
    </a>
#end def


#def _render_top_bottom(num)
    <div>
        #for _ in range($num)
            <div class="wrapper">
                #for _ in range(random.randint(5, 11))
                    $self._rect(10, 170)
                #end for
            </div>
        #end for
    </div>
#end def

#def _render_info_sides()
    <div class="inner-column">
        #for _ in range(8)
            <div class="inner-wrapper">
                #for _ in range(random.randint(2, 5))
                    $self._rect(20, 100)
                #end for
            </div>
        #end for
    </div>
#end def
